<%= render 'layouts/imageheader' %>


<br>
<br>
    <div class="row">

      <div class="col s12 m6 l6 center">
        <div class="card-panel yellow">
            <%= link_to( ("<i class='material-icons'>add</i>").html_safe, new_user_deck_path(current_user.id), { :class=>"btn-floating btn-large waves-effect waves-light black", :remote => true }) %>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Save</a>
              </div>
            </div>
          <h3 style="font-weight:bold;">CREATE</h3>
        <p>Create a new study deck for your vocabulary words</p>
        </div>
      </div>

      <div class="col s12 m6 l6 center">
        <div class="card-panel yellow">
            <%= link_to( ("<i class='material-icons'>search</i>").html_safe, user_decks_path(current_user.id), { :class=>"btn-floating btn-large waves-effect waves-light black" }) %>
          <h3 style="font-weight:bold;">MY DECKS</h3>
        <p>View and search your study deck collection</p>
        </div>
      </div>
    </div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
