
<div class="slider">
  <ul class="slides">
    <li><%= image_tag "background-dark.jpg" %>
      <div class="caption center-align">
        <h3>DISCOVER</h3>
        <h5 class="light">a simple way to learn a new language</h5>
        <br>
        <a href="/register" class="waves-effect waves-light btn yellow lighten-1 black-text">Sign up</a>
      </div>
    </li>
    <li><%= image_tag "background2-dark.jpg"  %>
      <div class="caption left-align">
        <h3>IMPROVE AND UPDATE</h3>
        <h5 class="light">your language skills</h5>
        <br>
        <a href="/register" class="waves-effect waves-light btn yellow lighten-1 black-text">Sign up</a>
      </div>
    </li>
    <li><%= image_tag "background3-dark.jpg" %>
      <div class="caption right-align">
        <h3>TRAVEL</h3>
        <h5 class="light">and be better prepared</h5>
        <br>
          <a href="/register" class="waves-effect waves-light btn yellow lighten-1 black-text">Sign up</a>

      </div>
    </li>
  </ul>
</div>
<br>
<br>

<div class="row">

  <div class="col s4 center">
    <div class="card-panel">
    <i class="large material-icons center-align">check_circle</i><h3>Read more</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

  <div class="col s4 center">
    <div class="card-panel">
    <i class="large material-icons">video_library</i><h3>Demo</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
  <div class="col s4 center">
    <div class="card-panel">
      <i class="large material-icons">person</i><h3>About</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<br>
<br>
