// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.startbutton {
  width: 200px;
}

// slider
.slides .btn {
  line-height: 8px;
  padding: 27px 50px;
  font-size: 1.4rem;
}
h5.light {
  font-size: 2.7rem;
}

//front page info cards
.info ul {
  font-size: 1.3rem;
  line-height: 3.2rem;
  padding: 27px;
  text-align: left;
  margin-left: 15px;
}
