<div class="imageresp">
  <%= image_tag "header1.jpg", :class => "image1" %>
  <%= image_tag "LogoM.png", :class => "image2" %>
</div>

<h1>New Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Back', categories_path %>
