<%= render 'layouts/header' %>

  <div class="header">
    <%= image_tag "header1.jpg" %>
    <img class="responsive-img" src="header1.jpg" alt="">
  </div>

<div class="container">
<br>
  <nav>
    <div class="nav-wrapper white black-text">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
          <i class="material-icons black-text">close</i>
        </div>
      </form>
    </div>
  </nav>
  <br>

</div>

<%= render 'layouts/footer' %>

<%= link_to 'New Deck', new_deck_path %>
