<%= render 'layouts/imageheader' %>

<br>
<div class="container yellow lighten-2 center">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1>Review Answer</h1>
      <h2>Correct!</h2>
      <h2>or if wrong... nada</h2>

      <h3>English World</h3>
      <h3>Spanish Word</h3>

      <h4>Continue to Next Word</h4>
    </div>
  </div>
</div>
<br>
