<h1>Review Answer</h1>
<h2>Correct!</h2>
<p><%= @correct_answer %></p>
<p><%= @user_answer %></p>
<h2>or if wrong... nada</h2>

<h3>English World</h3>
<h3>Spanish Word</h3>

<h4>Continue to Next Word</h4>
