<% if @correct_answer == @user_answer %>
<h1>Correct!</h1>

<% else %>
<h2>Sorry</h2>
<p>The correct answer is: <%= @correct_answer %></p>

<% end %>

<p><%= link_to 'Continue to Next Word', deck_study_path(@deck) %></p>
