<footer class="page-footer grey hide-on-small-only">
    <div class="row">
       <div id="footer-left" class="col s2 left">
         <%= image_tag "logo.png" %>
        </div>
        <div id="footer-center" class="col s8 center">
        </div>
        <div id="footer-right" class="col s2 right">
          <h1></h1>
          <i class="fab fa-facebook" style="font-size:35px;"></i>
          <i class="fab fa-instagram" style="font-size:35px;"></i>
          <i class="fab fa-twitter-square" style="font-size:35px;"></i>
   </div>
      </div>


    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Memori
      <a class="grey-text text-lighten-4 right" href="#!">Terms of Service</a>
      </div>
    </div>
  </footer>

  <footer class="page-footer grey hide-on-med-and-up">
      <div class="row">
          <div id="footer-right" class="col s12 center">
            <i class="fab fa-facebook" style="font-size:30px;"></i>
            <i class="fab fa-instagram" style="font-size:30px;"></i>
            <i class="fab fa-twitter-square" style="font-size:30px;"></i>
         </div>
        </div>

      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Memori
        <a class="grey-text text-lighten-4 right" href="#!">Terms of Service</a>
        </div>
      </div>

    </footer>
