<footer class="page-footer grey hide-on-small-only">
    <div class="row">
       <div id="footer-left" class="col s2 left">
         <%= image_tag "logo2.png" %>
        </div>
        <div id="footer-center" class="col s8 center">
        </div>
        <div id="footer-right" class="col s2 right">
          <h5 class="white-text">Follow Us</h5>
          <img src="http://www.freeiconspng.com/uploads/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png" alt="" height="60" width="60">
          <img src="http://www.thelayerfund.com/wp-content/uploads/2017/10/instagram-logo-for-business-card-business-cards-copy-printing-and-screen-printing-in-winston-ideas.png" alt="" height="58" width="58">
       </div>
      </div>
    

    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Memori
      <a class="grey-text text-lighten-4 right" href="#!">Terms of Service</a>
      </div>
    </div>
  </footer>

  <footer class="page-footer grey hide-on-med-and-up">
      <div class="row">
          <div id="footer-right" class="col s12 center">
            <h5 class="white-text">Follow Us</h5>
            <img src="http://www.freeiconspng.com/uploads/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png" alt="" height="60" width="60">
            <img src="http://www.thelayerfund.com/wp-content/uploads/2017/10/instagram-logo-for-business-card-business-cards-copy-printing-and-screen-printing-in-winston-ideas.png" alt="" height="58" width="58">
         </div>
        </div>

      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Memori
        <a class="grey-text text-lighten-4 right" href="#!">Terms of Service</a>
        </div>
      </div>

    </footer>
