<nav>
  <div class="nav-wrapper white">
    <div class="row">
    <div class="col s2 left">
    <a href="#!" class="brand-logo left black-text">
      <%= image_tag "logo4.png" %>
    </div>
    <div class="col s2 right">
    <a href="#" data-activates="mobile-demo" class="right button-collapse black"><i class="material-icons black">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" class="black-text large">Login</a></li>
      <li><a href="#" class="black-text">Signup</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">Read more</a></li>
      <li><a href="#">Demo</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  </div>
  </div>
</nav>
